* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: #f9f9f9;
}

.hero {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__img {
    display: block;
    width: 100%;
    /* height: 80%; */
    /* height: 350px; */
    max-width: 380px;
    margin: auto;
}

.hero__texts {
    flex-basis: 40%;
}

.hero__paragraph {
    line-height: 1.5;
    font-weight: 300px;
    padding: .7em 0;
}

.hero__paragraph span {
    background-color: #56c5b6;
    padding: 0 5px 0 5px;
}

.hero__cta {
    display: inline-block;
    background: #56c5b6;
    color: #000;
    border: 1px solid #56c5b6;
    text-decoration: none;
    padding: 15px 30px;
}

.hero__cta:hover {
    background: transparent;
    border: 1px solid #56c5b6;
    box-shadow: 7px 7px 0px 0px #56c5b6;
}

@media screen and (min-width:850px) {
    .hero {
        flex-direction: row;
        align-items: center;
    }

    .hero__picture {
        flex-grow: 1;
        order: 1;
    }
    .hero__img {
        max-width: none;
    }

    .hero__title {
        font-size: 4rem;
    }
}